<div class="upper-margin off"></div>
<div class="outer-box center">
	<div class="inner-box">
		<h1><a href="/NanoSearch/">NanoSearch</a></h1>
		<form ng-submit="search()"><input type="text" ng-model="q" focus></input></form>
	</div>
	<div class="link-box">
		<a class="answer-link" ng-click="search()">
			<div class="inner-link-box">Get videos</div>
		</a>
	</div>
</div>
<div class="small">
    <h1>About NanoSearch</h1>
    <p>In a world staturated by information, this youtube client aims to present the less information possible, while being efficient.</p>
    <p>Please contact me if you want more informations.</p>
</div>
